In [1]:
import pandas as pd

In [2]:
# difference between iloc and loc
# loc = Selection by label
# iloc = Selection by location
# creating a dataframe

df = pd.DataFrame({'A': pd.Series([1, 2]), 'B': pd.Series([3,4])})

In [3]:
df

   A  B
0  1  3
1  2  4

In [6]:
# getting 'A' series data in the data frame using its label 'A'
df.loc[:, ['A']]

   A
0  1
1  2

In [7]:
# Getting 'B' column by location, 1
df.iloc[:, [1]]

   B
0  3
1  4